.nav-fixed{
  padding: 20px;
  overflow: hidden;
  position: relative; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.max-index{
  z-index: 99999999;
}